.mat-table {
  width: 100%;
}

.mat-header-cell {
  font-weight: bold;
}

.mat-cell {
  font-size: 14px;
}

.mat-header-row {
  background-color: #f2f2f2;
}

.mat-row:nth-child(even) {
  background-color: #f9f9f9;
}

.mat-row:hover {
  background-color: #e6e6e6;
}